<!-- Plantilla base del proyecto -->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
  <title>Asofrutas, sitio Web</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'  %}">
  <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/estilosProyecto.css'  %}" rel="stylesheet" type="text/css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{% static 'images/univalle.png' %}" height="35px" width="30px" alt="logo"/>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- class="active" -->
        <li {% block activo1 %} {% endblock %}><a href="/">Inicio</a></li>
        {% if user.is_authenticated %}
        <li {% block activo2 %} {% endblock %}><a href="/crearFinca">Administra tus productos</a></li>
        <li {% block activo3 %} {% endblock %}><a href="/contacto">Administra tu finca</a></li>
        <li {% block activo4 %} {% endblock %}><a href="/contacto">Administra tus datos</a></li>
        {% endif %}
        <li {% block activo5 %} {% endblock %}><a href="/contacto">Nuestra Finca</a></li>
        <li {% block activo6 %} {% endblock %}><a href="/contacto">Nuestros Productos</a></li>
        <li {% block activo7 %} {% endblock %}><a href="/contacto">Contactanos</a></li>
      </ul>
      -<ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
      {% else %}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="http://estrategia.gobiernoenlinea.gov.co/" target="_blank">Gobierno en linea</a></p>
      <p><a href="http://www.mincit.gov.co/index3.php" target="_blank">Ministerio de Comercio</a></p>
      <p><a href="http://es.presidencia.gov.co/" target="_blank">Presidencia de la república</a></p>
    </div>
    <div class="col-sm-8 text-left">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Publicidad 1</p>
      </div>
      <div class="well">
        <p>Publicidad 2</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright: Asofrutas 2016</p>
</footer>

</body>
</html>

