<!-- Cargar template proyecto -->
{% extends 'templatePublicTenant.html' %}
{% load staticfiles %}


<!-- Pagina inicial -->
{% block head %}
{% if reporte|length > 0%}
<script>
    $(document).ready(function(){
    $('#tabla1').dataTable( {
    "language": {
                "url": "{%static 'datatables/Spanish.json' %}"
            }
    } );
})
</script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Fruta', 'Cantidad'],

          {%for k,v in reportesGenerados.reporteTotalNombre.items %}
             ['{{k}}', {{v}}],
            {%endfor%}

          ]);

        var options = {
          title: 'Número de productores por fruta',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      //Grafico 2

       google.charts.setOnLoadCallback(drawChartB);
       function drawChartB() {
        var data = google.visualization.arrayToDataTable([
          ['Altura', 'Cantidad de frutas'],
          {%for k,v in reportesGenerados.reporteTotalAltura.items %}
             ['{{k}}', {{v}}],
            {%endfor%}

          ]);

        var options = {
          title: 'Número frutas por altura (msnm)',
          legend: { position: 'none' },
          series: [{'color': '#D9544C'}],
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_divB'));
        chart.draw(data, options);
      }

      //Grafico 3

       google.charts.setOnLoadCallback(drawChartC);
       function drawChartC() {
        var data = google.visualization.arrayToDataTable([
          ['Fruta', 'Cantidad'],

          {%for k,v in reportesGenerados.reporteTotalTemperatura.items %}
             ['{{k}}', {{v}}],
            {%endfor%}

          ]);

        var options = {
          title: 'Número de frutas por temperatura',
          legend: { position: 'none' },
          series: [{'color': '#AF54DC'}],
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_divC'));
        chart.draw(data, options);
      }
    </script>


{%endif %}
<style>
    #bloquePropaganda{
    display: none;
    }
</style>
{% endblock %}
{% block content %}
<h1>Reportes por productos</h1>

<h2>Reportes gráficos</h2>

<h3>Número total de productores por fruta</h3>


<div id="chart_div" class="img-thumbnail" style="text-align:center; width: 600px; height: 400px;"></div>

<h3>Total de frutas por altura (msnm)</h3>

<div id="chart_divB" class="img-thumbnail" style="text-align:center; width: 600px; height: 400px;"></div>

<h3>Producción por temperatura</h3>


<div id="chart_divC" class="img-thumbnail" style="text-align:center; width: 600px; height: 400px;"></div>


<h2>Reporte detallado</h2>
<p>A continuación les mostramos los productos que se tienen y el sitio donde debe accederlos</p>

<h3>Lista de frutas por producto</h3>


{% if reporte|length > 0%}
<table id="tabla1" class="table" class="display" border="1" cellspacing="0" width="100%">
    <thead>
    <th>Nombre</th>
    <th>Variedad</th>
    <th>Area de cultivo</th>
    <th>Producción mensual</th>
    <th>Tipo terreno</th>
    <th>Altura Producción</th>
    <th>Temperatura Producción</th>
    <th>Imagen </th>
    <th>Enlace Productor</th>
    </thead>
    <tbody>
    {% for rep in reporte %}

        {%for item in rep.info %}
        <tr>
            <td>{{item.fields.nombre}}</td>
            <td>{{item.fields.variedad}}</td>
            <td>{{item.fields.areacultivo}}</td>
            <td>{{item.fields.produccionmes}}</td>
            <td>{{item.fields.tipoterreno}}</td>
            <td>{{item.fields.msnm}}</td>
            <td>{{item.fields.temperatura}}</td>
            <td> <p style="text-align:center"><img src="http://{{rep.url}}/media/{{item.fields.imagen}}" alt="Imagen fruta" height="150px" width="150px" class="img-thumbnail"/></p></td>
            <td> <a href="http://{{rep.url}}" target="_blank" class="img-thumbnail">{{rep.url}}</a></td>
        </tr>
        {%endfor %}
    {% endfor %}
    </tbody>
</table>
<br/>
<br/>
{%else%}
<h4>Aviso:</h4> Usted no tiene frutas registradas.
{%endif %}

{% endblock content %}

{% block activo4 %}
class="active"
{% endblock %}