<!-- Cargar template proyecto -->
{% extends 'templatePublicTenant.html' %}
{% load staticfiles %}


<!-- Pagina inicial -->
{% block head %}
{% if reporte|length > 0%}
<script>
    $(document).ready(function(){
    $('#tabla1').dataTable( {
    "language": {
                "url": "{%static 'datatables/Spanish.json' %}"
            }
    } );
})
</script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart", "line"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Departamento', 'Cantidad'],

          {%for k,v in reportesGenerados.fincasPorDepartamento.items %}
             ['{{k}}', {{v}}],
            {%endfor%}

          ]);

        var options = {
          title: 'Número de productores por fruta',
          legend: { position: 'none' },
          hAxis: {title: 'Cantidad'},
          vAxis: {title: 'Departamento'},
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>
{%endif %}
<style>
    #bloquePropaganda{
    display: none;
    }
</style>
{% endblock %}


{% block content %}
<h1>Reportes por finca</h1>
<p>A continuación les mostramos las fincas que se tienen y el sitio donde debe accederlos</p>

<h3>Fincas por departamento</h3>

<div id="chart_div" class="img-thumbnail" style="width: 600px; height: 400px; margin: 0 auto;"></div>


<h3>Lista de finca por productor</h3>


{% if reporte|length > 0%}

<table id="tabla1" class="table" class="display" border="1" cellspacing="0" width="100%">
    <thead>
    <th>Nombre</th>
    <th>Municipio</th>
    <th>Departamento</th>
    <th>Descripción</th>
    <th>Imagen Finca </th>
    <th>Enlace productor</th>
    </thead>
    <tbody>
    {% for rep in reporte %}
        {%for item in rep.info %}
        <tr>
            <td>{{item.fields.nombre}}</td>
            <td>{{item.fields.municipio}}</td>
            <td>{{item.fields.departamento}}</td>
            <td>{{item.fields.descripcion}}</td>
            <td> <p style="text-align:center"><img src="http://{{rep.url}}/media/{{item.fields.imagen}}" alt="Imagen fruta" height="150px" width="150px" class="img-thumbnail"/></p></td>
            <td> <a href="http://{{rep.url}}" target="_blank">{{rep.url}}</a></td>
        </tr>
        {%endfor %}
    {% endfor %}
    </tbody>
</table>
<br/>
<br/>

{%else%}
<h4>Aviso:</h4> No hay fincas registradas.
{%endif %}

{% endblock content %}

{% block activo4%}
class="active"
{% endblock %}