{% extends 'templatePrivateTenant.html' %}
{% load staticfiles %}


{% block head %}
{% if fruta|length > 0%}
<script>
    $(document).ready(function(){
    $('#tabla1').dataTable( {
    "language": {
                "url": "{%static 'datatables/Spanish.json' %}"
            }
    } );
})
</script>
{%endif %}
{% endblock %}

{% block content %}


<h2>Nuestros productos</h2>


<p>A continuación verá la lista de nuestras frutas</p>

<h3>Lista de frutas</h3>
{% if fruta|length > 0%}
<table id="tabla1" class="table" class="display" border="1" cellspacing="0" width="100%">
    <thead>
    <th>Nombre</th>
    <th>Variedad</th>
    <th>Area de cultivo</th>
    <th>Producción mensual</th>
    <th>Tipo terreno</th>
    <th>Altura Producción</th>
    <th>Temperatura Producción</th>
    <th>Imagen </th>
    </thead>
    <tbody>
    {% for f in fruta %}
    <tr>
        <td>{{f.nombre}}</td>
        <td>{{f.variedad}}</td>
        <td>{{f.areacultivo}}</td>
        <td>{{f.produccionmes}}</td>
        <td>{{f.tipoterreno}}</td>
        <td>{{f.msnm}}</td>
        <td>{{f.temperatura}}</td>
        <td> <p style="text-align:center"><img src="/media/{{f.imagen}}" alt="Imagen fruta" height="150px" width="150px" class="img-thumbnail"/></p></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{%else%}
<p>Nos encontramos construyendo nuestro sitio, lamentamos las molestias</p>
{%endif%}
<br/>
<br/>
{% endblock content %}

{% block activo6 %}
class="active"
{% endblock %}
